.clipPathOne {
  clip-path: url(#SVGID_00000129893208155580252640000014192422519689735566_);
}
.clipPathTwo {
  clip-path: url(#SVGID_00000129893208155580252640000014192422519689735566_);
}
.stopColor {
  stop-color: #000;
}
.stopOpacity {
  stop-opacity: 0.2;
}
.st0 {
  fill: #9da7b5;
}
.st1 {
  fill: #52647e;
}
.st2 {
  fill: #2a3546;
}
.st3 {
  fill: #404e62;
}
.st4 {
  fill: #6f829c;
}
.st5 {
  opacity: 0.4;
}
.st8 {
  opacity: 0.5;
  fill: #2a3546;
}
.st9 {
  fill: #212e40;
}
.st14 {
  opacity: 0.4;
  fill: #2a3546;
}
.st15 {
  fill: #fefefe;
}
.st16 {
  opacity: 0.2;
}
.st19 {
  fill: none;
}
