.st0 {
  fill: #02b29d;
}
.st1 {
  opacity: 0.3;
  fill: #2a3546;
}
.st2 {
  fill: #212e40;
}
.st3 {
  opacity: 0.4;
  fill: #2a3546;
}
.st4 {
  fill: #ff595c;
}
.st5 {
  fill: #bb4143;
}
.st6 {
  fill: #893031;
}
.st7 {
  fill: #fefefe;
}
.st8 {
  opacity: 0.2;
}
.st9 {
  fill: #2a3546;
}
.st10 {
  fill: #f4db6d;
}
